<article>
    <header>
        <h3>FAQ</h3>
    </header>
    <div class="pad-wrapper">
        <dl>
            <dt>What is this?</dt>
            <dd>This is Sinder Canvas! Click a color on the bottom and click a square to place that color on a cooldown. Scroll to zoom, shift + click (or hold on mobile) to look up details about a pixel.</dd>
            <!--
            <dt>Why is the cooldown as long as it is?</dt>
            <dd>The time it takes to get a pixel is dynamic, and changes based on how many people are online. The cooldown time is longer when more users are online.</dd>
            <dt>Why does it say 0/6 pixels?</dt>
            <dd>This means that you are waiting for your next pixel. When you place a pixel, there is a cooldown for when you can place the next one. Over time, you can gain up to 6 "stacked" pixels to place at once.</dd>
            <dt>Why does it take so long to "stack" pixels?</dt>
            <dd>This is by design. It is better to place a pixel as soon as you get one. Pixel "stacking" is meant to give you a bump if you go AFK for a bit. It takes around 40 minutes to get a full 6/6 pixels, but it only takes around 3 minutes to place 6 pixels if you place them as soon as possible.</dd>
            -->
            <dt>How do I make a template?</dt>
            <dd>Drag a 1:1 pixel image onto the canvas and configure in settings, or set an image URL in the template settings. If you need a tool to make pixel art templates, we recommend Paint.NET, GIMP, or a website like <a href="https://www.piskelapp.com/p/create" target="_blank">Piskel</a>. Sure, MS Paint works too.</dd>
            <dt>How do I move a template?</dt>
            <dd>Hold <kbd>CTRL</kbd> (or <kbd>OPTION</kbd> on macOS) and click + drag to move it around. On mobile, you can tap and hold where you want to move the template and click "Move Template Here" in the pop-up. This interface should be better - sorry!</dd>
            <dt>How do I see who placed a pixel?</dt>
            <dd>By shift-clicking (or tap and hold on mobile) a pixel, you can see who placed a pixel, how many pixels they have placed, and when they placed it.</dd>
            <dt>How do I report someone?</dt>
            <dd>Shift-click (or tap and hold on mobile) on a pixel and click the Report button.</dd>
            <dt>How do I report bugs?</dt>
            <dd>For Sinder Canvas, please send a message to <code>vanyilla</code> on Discord with details! I don't bite! 💜</dd>
            <dt>How do I get more info or contact staff?</dt>
            <dd>Check the info panel (the icon on the top left) for more details and links, or join our <a href="https://pxls.space/discord" target="_blank">Discord server</a>, where a staff member will gladly respond.</dd>
        </dl>
    </div>
</article>
