<article data-id="welcome">
    <header>
        <h3>Welcome!</h3>
    </header>
    <div class="pad-wrapper">
        <p>For each sub you gift to someone else, you receive <b>+50</b> additional stacked pixels!</p>
        <p>If you're subbed, you gain <b>5</b> pixels per stack refresh!</p>
        <p>50% of proceeds go to the <a href="https://primaryimmune.org/" target="_blank">Immune Deficiency Foundation</a>.</p>
        <p>Enjoy the canvas!</p>
        <p><img src="https://cdn.7tv.app/emote/63a08a9a0729712ec1d6462e/1x.png" alt="iRonPogU"></p>
    </div>
</article>
<article data-id="canvas-rules" id="canvas-rules">
    <header>
        <h3 class="text-red">Canvas Rules</h3>
    </header>
    <div class="pad-wrapper" id="rules-content">
        <p>Please follow these rules:</p>
        <ol>
            <li>No hateful imagery such as slurs, swastikas, symbols of terrorism, etc.</li>
            <li>No NSFW or NSFL content
                <ul>
                    <li>No nudity or otherwise sexually explicit content
                        <ul>
                            <li>No female-presenting nipples/bare breasts, genitalia, sexual fluids</li>
                        </ul>
                    </li>
                    <li>No sexual imagery/erotica</li>
                    <li>No excessive blood or otherwise obscene/shocking content</li>
                </ul>
            </li>
            <li>No more than <b>one</b> account per person</li>
            <li>No auto-placement tools of any kind, you must place the pixels manually</li>
            <li>Do not abuse site functionality, such as reports or lookups (e.g. automated reporting/lookups, etc.)</li>
            <li>Mods have final say in any rule disputes</li>
        </ol>
    </div>
</article>
<article data-id="links">
    <header>
        <h3>Links</h3>
    </header>
    <div class="pad-wrapper">
        <ul>
            <li><a href="https://www.twitch.tv/ironmouse" target="_blank">twitch.tv/ironmouse</a></li>
            <li><a href="https://x.com/ironmouse" target="_blank">Twitter</a></li>
            <li><a href="https://www.youtube.com/ironmouseparty" target="_blank">YouTube</a></li>
            <li><a href="https://www.tiktok.com/@ironmouse" target="_blank">TikTok</a></li>
        </ul>
        <ul>
            <li><a href="https://canvas.kyubae.com/stats" target="_blank">Statistics</a></li>
            <li><a href="https://canvas.kyubae.com/profile" target="_blank">Profile (user info, factions, etc.)</a></li>
        </ul>
        <p>Ironmouse Canvas is running on Pxls!</p>
        <ul>
            <li><a href="https://github.com/KyubaeDev/pxls-mouse" target="_blank">GitHub (back end)</a></li>
            <li><a href="https://github.com/KyubaeDev/pxls-mouse-web" target="_blank">GitHub (front end)</a></li>
        </ul>
    </div>
</article>

<span style="font-size: 10px;">Hey! Pxls is held together by duct tape and a dream, so please be patient if things freeze up or break.</span><br><br>
