<article data-id="welcome">
    <header>
        <h3>Welcome!</h3>
    </header>
    <div class="pad-wrapper">
        <p>Enjoy the canvas during Sinder's subathon! 🔥</p>
    </div>
</article>
<article data-id="canvas-rules" id="canvas-rules">
    <header>
        <h3 class="text-red">Canvas Rules</h3>
    </header>
    <div class="pad-wrapper" id="rules-content">
        <p>Please follow these rules:</p>
        <ol>
            <li>No hateful imagery such as slurs, swastikas, symbols of terrorism, etc.</li>
            <li>No NSFW or NSFL content
                <ul>
                    <li>No nudity or otherwise sexually explicit content
                        <ul>
                            <li>No female-presenting nipples/bare breasts, genitalia, sexual fluids</li>
                        </ul>
                    </li>
                    <li>No sexual imagery/erotica</li>
                    <li>No excessive blood or otherwise obscene/shocking content</li>
                </ul>
            </li>
            <li>No more than <b>one</b> account per person</li>
            <li>No auto-placement tools of any kind, you must place the pixels manually</li>
            <li>Do not abuse site functionality, such as reports or lookups (e.g. automated reporting/lookups, etc.)</li>
            <li>Mods have final say in any rule disputes</li>
        </ol>
    </div>
</article>
<article data-id="links">
    <header>
        <h3>Links</h3>
    </header>
    <div class="pad-wrapper">
        <ul>
            <li><a href="https://twitch.tv/sinder" target="_blank">twitch.tv/Sinder</a></li>
            <li><a href="https://discord.gg/sinder" target="_blank">🔥 Sinder's Hell-Hole 🔥 (Discord)</a></li>
            <li><a href="https://x.com/SinderVTuber" target="_blank">Twitter</a></li>
            <li><a href="https://www.youtube.com/c/SinderVTuber" target="_blank">YouTube</a></li>
            <li><a href="https://sinder.carrd.co/" target="_blank">More Links</a></li>
        </ul>
        <ul>
            <li><a href="https://sinder.pxls.world/stats" target="_blank">Statistics</a></li>
            <li><a href="https://sinder.pxls.world/profile" target="_blank">Profile (user info, factions, etc.)</a></li>
        </ul>
        <p>Sinder Canvas is running on Pxls!</p>
        <ul>
            <li><a href="https://github.com/pxlsspace/Pxls" target="_blank">GitHub (back end)</a></li>
            <li><a href="https://github.com/pxlsspace/pxls-web" target="_blank">GitHub (front end)</a></li>
            <li><a href="https://discord.gg/raA6det" target="_blank">Discord</a></li>
            <li><a href="https://pxls.space" target="_blank">pxls.space (our canvas!)</a></li>
        </ul>
    </div>
</article>

<span style="font-size: 10px;">Hey! Pxls is held together by duct tape and a dream, so please be patient if things freeze up or break.<br>Report game-breaking bugs to <code>vanyilla</code> on Discord.</span><br><br>
<span style="font-size: 10px;">Shout-out Neuro-sama! heartheartheart <img src="https://cdn.7tv.app/emote/640beda667f0badff7480aac/1x.gif" width="16px" height="16px"></span>
